.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-grid {
  padding: 1rem; }
  .tcon-grid .tcon-grid__item {
    width: 0.5rem;
    height: 0.5rem;
    background: black;
    color: black;
    transition: 0.3s; }

.tcon-grid.tcon-transform .tcon-grid__item {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8); }

.tcon-grid--collapse .tcon-grid__item {
  box-shadow: -0.625rem 0, -0.625rem 0.625rem, 0.625rem 0, 0.625rem -0.625rem, 0 -0.625rem, -0.625rem -0.625rem, 0 0.625rem, 0.625rem 0.625rem; }
.tcon-grid--collapse.tcon-transform .tcon-grid__item {
  box-shadow: -0.5rem 0, 0 0 transparent, 0.5rem 0, 0 0 transparent, 0 -0.5rem, 0 0 transparent, 0 0.5rem, 0 0 transparent; }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.tcon-search__item {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 0;
  transition: 0.3s;
  background: transparent;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .tcon-search__item::before, .tcon-search__item::after {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    transition: 0.3s;
    background: transparent;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto; }
  .tcon-search__item::before {
    height: 4px;
    left: 0;
    background: black;
    border-radius: 2.85714px; }
  .tcon-search__item::after {
    right: 0;
    background: white;
    border-radius: 50%;
    width: 12.00012px;
    height: 12.00012px;
    border: 2px solid black;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

.tcon-search--xcross.tcon-transform {
  -webkit-transform: scale3d(.8, .8, .8);
  transform: scale3d(.8, .8, .8); }
  .tcon-search--xcross.tcon-transform .tcon-search__item::before, .tcon-search--xcross.tcon-transform .tcon-search__item::after {
    border-radius: 2.85714px;
    background: black; }
  .tcon-search--xcross.tcon-transform .tcon-search__item::after {
    height: 4px;
    width: 100%;
    top: 0;
    right: 0;
    border: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg); }
